@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0891b2;
  --black-2: #000;
  --white: #fff;
}

.cursor1 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease;
  z-index: 999;
}

.cursor2 {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity, 0.3s ease;
  z-index: 999;
}

.cursor1.hide,
.cursor2.hide {
  opacity: 0;
}

@layer base {
  body {
    @apply text-black;
  }
}

.bg-background-gradient {
  background: linear-gradient(120deg, #ebfbff, #f9feff, #a2dfee, #ebfbff);
  background-size: 200% 200%;
  animation: waveBackground 10s ease-in infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes animate-slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes waveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-slide-left {
  animation: animate-slide-left 10s linear infinite;
}

.swiper-pagination-bullet {
  background-color: #0891b2 !important;
}

.swiper-pagination-bullet-active {
  background-color: #0891b2 !important;
}

.gradiente {
  background: linear-gradient(
    to right top,
    #0b1c28,
    #0b1c28,
    #0891b2,
    #0b1c28,
    #0b1c28
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
